<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <%= collection.title %>
    <small class="pull-right"><%= l collection.created_at, format: :short %></small>
  </div>
  <div class="panel-body">
    <% collection.collection_items.each do |ci| %>
      <%= render ci %>
    <% end %>
    <br>
  </div>
  <div class="panel-footer">
    <small><%= link_to 'Редактировать', edit_collection_path(collection) %></small>
    <small><%= link_to 'Удалить', collection_path(collection), method: :delete, data: { confirm: 'Уверены, что хотите удалить коллекцию?' } %></small>
    <br>
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div style="margin-left: -7px" class="yashare-auto-init" data-yashareL10n="ru" data-yashareLink="<%= collection_url(collection) %>" data-yashareType="link" data-yashareQuickServices="vkontakte,facebook,twitter,gplus"></div>
  </div>
</div>
